body{
background-image: url(./abt.PNG);
background-repeat: no-repeat;
background-size: cover;


}
h1{
text-align: center;
text-underline-position: below;
font-size: 50px;
font-style: unset;


}
p{
    font-size: 40px;
}
div{
    height:500px;
    width:500px;
    background-color: rgba(36, 55, 221, 0.507);
    position: absolute;
    left:500px;
    align-self: center;
    text-align: center;
    

}
ul {
    opacity: 0.9;
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(33, 51, 204);
}

li {
    float: left;
  }
  
  li a {
      text-size-adjust: 20px;
    display:inline-block;
    color:black;
    text-align: center;
    text-emphasis-color: black;
    padding: 14px 30px;
    
  }
  
  li a:hover:not(.active) {
    background-color: rgb(181, 196, 194);
  }
  
  .active {
    background-color:white;
  }
  