.start{
    position: absolute;
    top: 52%;
    left: 30%;
    border-style:outset ;
    height: 80px;
    width: 150px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(248, 96, 85);
    border-width: 5px;
    text-decoration: none;
    padding-left: 5;
    border-color: black;
    
}
.r1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top:100px;
    left:100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0.986);}
    25%  {background-color:rgb(173, 40, 30);}
    50%  {background-color:rgb(90,40,30); }
    75%  {background-color:rgb(80,40,30); }
    100% {background-color:black;}
  }

  .r2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top:200px;
    left:196px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0.986);}
    25%  {background-color:rgb(173, 40, 30);}
    50%  {background-color:rgb(90,40,30); }
    75%  {background-color:rgb(80,40,30); }
    100% {background-color:black;}
  }
  .r3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top:150px;
    left:250px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0.986);}
    25%  {background-color:rgb(173, 40, 30);}
    50%  {background-color:rgb(90,40,30); }
    75%  {background-color:rgb(80,40,30); }
    100% {background-color:black;}
  }
  .r4{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top:300px;
    left:300px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0.986);}
    25%  {background-color:rgb(173, 40, 30);}
    50%  {background-color:rgb(90,40,30); }
    75%  {background-color:rgb(80,40,30); }
    100% {background-color:black;}
  }