

img{
    width:180px;
    height:180px;
    border-radius: 50%;
    opacity: 0.8;
} 
.img2{
    width:180px;
    height:180px;
    border-radius: 50%;
    opacity: 0.8;
} 
.img2 {
  
  
    position: relative;
    animation-name: example2;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example2 {
    0%   { left:1200px; top:250px;}
    50%  { left:600px; top:0px;}
    100%  { left:0px; top:250px;}
    
  }
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    border-style: double;
    border-radius: 30%;
    text-align: center;
    background-color: rgba(238, 13, 13, 0.8);
}

div {
  
  
  position: relative;
  animation-name: example;
  animation-duration: 15s;
  animation-timing-function: linear;
  
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0%   { left:0px; top:250px;}
  25%  { left:600px; top:0px;}
  50%  { left:1200px; top:250px;}
  75%  { left:600px; top:500px;}
  100% {left:0px; top:250px;}
}
ul {
    opacity: 0.9;
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(219, 84, 84);
}



body{

 background-image: url(./tracker.PNG);

background-size: cover;
}


li {
  float: left;
}

li a {
    text-size-adjust: 20px;
  display:inline-block;
  color:black;
  text-align: center;
  text-emphasis-color: black;
  padding: 14px 30px;
  
}

li a:hover:not(.active) {
  background-color: rgb(181, 196, 194);
}

.active {
  background-color:white;
}
