
body{
    background-image: url(./sign.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.sign
{ width:500px;
  height:800px;
  left:500px;
  position:absolute;

    background-color:rgba(221, 253, 77, 0.76);
    padding: 20px;
    align-self:right;
    text-align: center;
}
.i1{
    size: 20px;
    align-self: center;
}
input[type=text] {
    
    padding: 2px;
    border: 5px solid darkolivegreen;
    position: relative;
    resize: vertical;
    float:inherit;
    width:30%;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-style: oblique;
    font-size: 25px;
    align-self: center;
    position: relative;
    
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 2px solid darkolivegreen;
    border-radius: 7px;
    cursor: pointer;
    float: right;
  }
  button{
    height:40px;
    width:85px;

    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 2px solid darkolivegreen;
    border-radius: 7px;
    cursor: pointer;
    float:left;



  }
  ul {
    opacity: 0.7;
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(131, 235, 13, 0.473);
}

  li {
    float: left;
  }
  
  li a {
      text-size-adjust: 20px;
    display:inline-block;
    color:black;
    text-align: center;
    text-emphasis-color: black;
    padding: 14px 30px;
    
  }
  
  li a:hover:not(.active) {
    background-color: rgb(181, 196, 194);
  }
  
  .active {
    background-color:white;
  }
  
  